{% extends 'base_user.html' %}
{% load static %}
{% block title %}Products{% endblock title %}

{% block content %}
<!-- Product -->

<div class="bg0 m-t-23 m-b-50">
    <div class="col">
        <nav aria-label="breadcrumb" class="rounded-3 p-3 m-4">

        </nav>
    </div>
    <div class="container">
        <div class="row">

        </div>

        <div class="flex-w flex-sb-m p-b-10  mt-4">
            <div class="flex-w flex-l-m filter-tope-group m-tb-10">

                {% if 'search' in request.path %}
                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
                    Searched results
                </button>
                {% else %}
                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
                    All Products
                </button>
                {% endif %}

            </div>

            <div class="flex-w flex-c-m m-tb-10">
                <div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
                    <i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
                    <i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                    Filter
                </div>

            </div>

            

            <!-- Filter -->
            <div class="dis-none panel-filter w-full p-t-10">
                <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
                    <div class="filter-col1 p-r-15 p-b-27">
                        <div class="mtext-102 cl2 p-b-15">
                            Categories
                        </div>

                        <ul>
                            <li class="p-b-6">
                                <a href="{% url 'all_products' %}" class="filter-link stext-106 trans-04">
                                    All Products
                                </a>
                            </li>
                            {% for category in categories %}
                            <li class="p-b-6">
                                <a href="{{ category.get_url }}" class="filter-link stext-106 trans-04">
                                    {{ category.category_name }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="filter-col2 p-r-15 p-b-27">
                        <div class="mtext-102 cl2 p-b-15">
                            Brands
                        </div>

                        <ul>

                            {% for brand in brands %}
                            <li class="p-b-6">
                                <a href="{{brand.get_url}}" class="filter-link stext-106 trans-04 filter-link">
                                    {{brand.brand_name}}
                                </a>
                            </li>
                            {% endfor %}


                        </ul>
                    </div>

                    <div class="filter-col3 p-r-15 p-b-27">
                        <div class="mtext-102 cl2 p-b-15">
                            Price
                        </div>

                        <ul>

                            <li class="p-b-6">
                                <a href="{% url 'price_sorting'  %}?min=0&max=10000" class="filter-link stext-106 trans-04">
                                    ₹ 0.00 - ₹ 10,000
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a href="{% url 'price_sorting' %}?min=10000&max=20000" class="filter-link stext-106 trans-04">
                                    ₹ 10,000 - ₹ 20,000
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a href="{% url 'price_sorting' %}?min=20000&max=30000" class="filter-link stext-106 trans-04">
                                    ₹ 20,000 - ₹ 30,000
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a href="{% url 'price_sorting' %}?min=30000&max=50000" class="filter-link stext-106 trans-04">
                                    ₹ 30,000 - ₹ 50,000
                                </a>
                            </li>

                        </ul>
                    </div>

                    <div class="filter-col4 p-b-27">
                        <div class="mtext-102 cl2 p-b-15">
                            Sort By
                        </div>

                        <ul>
                            <li class="p-b-6">
                                <a href="#" class="filter-link stext-106 trans-04"> Default </a>
                            </li>

                            <li class="p-b-6">
                                <a href="{% url 'sorting' %}?sortby=newest" class="filter-link stext-106 trans-04 filter-link"> Newest </a>
                            </li>

                            <li class="p-b-6">
                                <a href="{% url 'sorting' %}?sortby=low-to-high" class="filter-link stext-106 trans-04"> Price: Low to High </a>
                            </li>

                            <li class="p-b-6">
                                <a href="{% url 'sorting' %}?sortby=high-to-low" class="filter-link stext-106 trans-04"> Price: High to Low </a>
                            </li>


                        </ul>
                    </div>

                </div>
            </div>
        </div>




        {% if not products %}

        <div class="container d-flex justify-content-center">
            <div class="w-75">
        
                <div class="w-100 d-flex justify-content-center">
                    <img src="{% static 'user_home/images/others/search_not_found.jpg' %}" alt="#" width="500px">
                </div>
        
        
                <div class="w-100 d-flex flex-row flex-wrap justify-content-center">
                    <h5> Oops! It looks like you have searched for a wrong product! </h5>
                </div>
        
                <br>
        
                <div class="w-100 d-flex flex-row flex-wrap justify-content-center">
                    <a href="{% url 'all_products' %}" class="btn btn-outline-dark w-25 flex-c-m size-115  bor14">Go to Store</a>
                </div>
        
            </div>
        </div>

        {% else %}
        <!--Products card-->
        <div class="row isotope-grid">
            {% for product in products %}
            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
                
                 <main>
                    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
                        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
                            <div class="col">
                                <a href="{{ product.get_url }}">
                                    <div class="card h-100 shadow-sm hov-img0"> <img src="/media/{{ product.product_images.first.image }}"
                                            class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <hr>
                                            <div class="block2-txt flex-w flex-t p-t-14">
                                                <div class="block2-txt-child1 flex-col-l ">
                                                    <a href="{% url 'product_detail' product.category.slug product.slug %}"
                                                        class="text-dark stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                        {{ product.product_name }}
                                                    </a>
                                                </div>

                                                {% comment %} <div class="block2-txt-child2 flex-r p-t-3">
                                                    <a href="{% url 'add_wishlist' product.id %}"
                                                        class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">   <!--addedwish to add in wish-->
                                                        <img class="icon-heart1 dis-block trans-04"
                                                            src="{% static 'user_home/images/icons/icon-heart-01.png' %}"
                                                            alt="ICON">
                                                        <img class="icon-heart2 dis-block trans-04 ab-t-l"
                                                            src="{% static 'user_home/images/icons/icon-heart-02.png' %}"
                                                            alt="ICON">
                                                    </a>
                                                </div> {% endcomment %}

                                            </div>

                                            <div class="clearfix mb-3">
                                                <span class="text-danger float-end price-hp">₹{{ product.price }}</span>
                                            </div>

                                            <div class="text-center my-4">
                                                <a href="{{ product.get_url }}"
                                                    class="btn btn-outline-dark rounded-pill hov-btn1 p-lr-15 trans-04 px-4">View
                                                    Details</a>
                                            </div>

                                        </div>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                </main> 
            </div>
            <hr class="bg-dark">
            {% endfor %}

            {% endif %}

        </div>
        <!--End Products card-->

        <!-- Paginator buttons -->
        <div class="flex-c-m flex-w w-full">
            <nav aria-label="page navigation sample">
                {% if products.has_other_pages %}
                <ul class="pagination">

                    {% if products.has_previous %}
                    <li class="page-item "><a href="?page={{products.previous_page_number}}"
                            class="page-link text-dark">Previous</a></li>
                    {% else %}
                    <li class="page-item disabled"><a href="#" class="page-link">Previous</a></li>
                    {% endif %}

                    {% for i in products.paginator.page_range %}
                    {% if products.number == i %}
                    <li class="page-item active"><a href="#" class="page-link">{{i}}</a></li>
                    {% else %}
                    <li class="page-item"><a href="?page={{i}}" class="page-link text-dark">{{i}}</a></li>
                    {% endif %}
                    {% endfor %}

                    {% if products.has_next %}
                    <li class="page-item"><a href="?page={{products.next_page_number}}"
                            class="page-link text-dark p-lr-25">Next</a></li>
                    {% else %}
                    <li class="page-item disabled"><a href="#" class="page-link p-lr-25">Next</a></li>
                    {% endif %}
                </ul>

                {% endif %}
            </nav>
        </div>

    </div>
</div>
{% endblock content %}